services:
  api:
    build:
      context: .
      target: api
    ports:
      - "8000:8000"

  frontend:
    build:
      context: .
      target: frontend
    depends_on:
      - api
    ports:
      - "4200:80"

  tests:
    build:
      context: .
      target: tests
    entrypoint: ["/bin/bash", "-lc"]
    command: "npx nx test frontend frontend-data-access api"
